@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk";
  src: url(./assets/fonts/FoundersGrotesk-Semibold.woff2) format("woff2");
}

@font-face {
  font-family: "Icomoon";
  src: url(./assets/fonts/icomoon.woff2) format("woff2");
}

@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/fonts/NeueMontreal-Regular.woff2) format("woff2");
}

header {
  transition: transform 0.5s cubic-bezier(0.3, 0.86, 0.36, 0.95);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

li:nth-child(5) {
  margin-left: 18vw;
}

/* Link Text move up and down animation */
li {
  position: relative;
}

.link__default-text,
.link__hover-text {
  transition: transform 0.5s ease-in-out;
}

li:hover .link__default-text {
  transform: translateY(-100%);
}

li:hover .link__hover-text {
  transform: translateY(-100%);
}

li:not(:hover) .link__default-text {
  transform: translateY(0);
}

li:not(:hover) .link__hover-text {
  transform: translateY(0);
}

/* Link underline animation */
.link--custom {
  position: relative;
  display: inline-block;
  padding-bottom: 1vh;
  overflow: hidden;
}
.link--custom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.link--custom:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.link--custom:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}

.nav-toggle {
  overflow: visible;
}

.nav-toggle line {
  transition: transform 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
  transform-origin: center;
}

.open .nav-toggle line:nth-child(1) {
  transform: rotate(45deg) translateY(-3px);
}

.open .nav-toggle line:nth-child(2) {
  transform: rotate(-45deg) translateY(3px);
}

.start-project-btn {
  transition: background-color 1s linear;
}

.start-project-btn:hover .btn__text {
  background-color: #000;
  color: #fff;
}

.start-project-btn:hover i {
  background-color: #000;
  color: #fff;
}

#image-div {
  background-image: url(./assets/images/content-image01.webp);
  width: 0;
  height: 6vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.2vw;
  animation-name: wide;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  border-radius: 8%;
  margin: 1vw 1vw 0 0;
}

@keyframes wide {
  0% {
    width: 0;
  }
  100% {
    width: 9vw;
  }
}

@-webkit-keyframes crawling-line {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes crawling-line {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-\[crawling-line_10s_linear_infinite\] {
  -webkit-animation: crawling-line 10s linear infinite;
  animation: crawling-line 10s linear infinite;
}

.marque .outline-bottom,
.marque .outline-top {
  position: relative;
}

.marque .outline-bottom:after,
.marque .outline-bottom:before,
.marque .outline-top:after,
.marque .outline-top:before {
  position: absolute;
  left: -50vw;
  right: -50vw;
  height: 2px;
  background: currentColor;
  opacity: 0.3;
}

.marque .outline-top:before {
  content: "";
  top: 19vh;
}

.marque .outline-bottom:after {
  content: "";
  bottom: 13vh;
}

.para2,
.para3 {
  position: relative;
}
.para2::before,
.para3::before {
  content: "";
  position: absolute;
  left: -50vw;
  right: -50vw;
  height: 2px;
  background: currentColor;
  opacity: 0.3;
  top: -1rem;
}
